* {
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: #3AAFA9;
}

header {
  text-align: center;
  width: 100%;
  color: #17252a;
}

#title {
  color: #FEFFFF;
  font-size: 5rem;
}

/* MEME FORM */

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 1.5rem;
}

input {
  display: flex;
  justify-content: center;
  margin-left: 0.25rem;
  border: 1px solid #17252a;
  border-radius: 0.25rem;
  background-color: #FEFFFF;
  height: 2rem;
  width: 15rem;
}

#meme-submit {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4rem;
  color:#FEFFFF;
  width: 8rem;
  background-color: #17252a;
  border-radius: 1rem;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 300ms;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

#meme-submit:hover {
  color:#17252a;
  background-color: #FEFFFF;
}

/* MEME SECTION */

#memes {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem;
  padding-bottom: 2.5rem;
  /* border: 1px red solid; */
}

.meme-div {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  position: relative;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  color: white;
  -webkit-text-stroke: 1.5px black;
  margin: 1rem;
  cursor: pointer;
}

.top-text {
  text-align: center;
  font-size: 2rem;
  position: absolute;
  top: 3%;
  width: 100%;
}

.bottom-text {
  text-align: center;
  font-size: 2rem;
  position: absolute;
  bottom: 4%;
  width: 100%;
}

.delete-meme {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  transform: translate(-50%, -50%);
  color: lightgray;
  border: none;
  -webkit-text-stroke: 0px;
}

.overlay {
  display: none;
}

.meme-div:hover .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(110, 110, 110, 0.7);
}


/* the img element */
.meme {
  width: 30rem;
}


@media only screen and (max-width: 1100px){

  #title {
    font-size: 3rem;
  }

  .meme {
    width: 20rem;
  }
}


/* FOOTER */

.social-icon {
  color: #17252a;
  margin-left: 0.5rem;
}

footer {
  width: 100%;
  background-color: #2b7a78;
  text-align: center;
  padding: 1rem;
  font-weight: 400;
}
