* {
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #3AAFA9;
}

header {
  text-align: center;
  width: 100%;
  color: #17252a;
}

#title {
  color: #FEFFFF;
  font-size: 5rem;
}

form {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

label {
  margin-bottom: 0.5rem;
  margin-right: 1.5rem;
}

#memes {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 margin: 1rem;
 /* border: 1px red solid; */
}

.meme-div {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  position: relative;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  color: white;
  -webkit-text-stroke: 1.5px black;
  margin: 1rem;
}

.top-text {
  text-align: center;
  font-size: 2rem;
  position: absolute;
  top: 3%;
  width: 100%;
}

.bottom-text {
  text-align: center;
  font-size: 2rem;
  position: absolute;
  bottom: 4%;
  width: 100%;
}

/* the img element */
.meme {
  width: 30rem;
}


@media only screen and (max-width: 900px){

  #title {
    font-size: 3rem;
  }

  .meme {
    width: 20rem;
  }
}
