* {
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #3AAFA9;
}

header {
  text-align: center;
  width: 100%;
  color: #17252a;
}

#title {
  color: #FEFFFF;
  font-size: 5rem;
}

/* MEME FORM */

form {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

label {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: 1.5rem;
}

input {
  display: flex;
  justify-content: center;
  margin-left: 0.5rem;
  border: 1px solid #17252a;
  border-radius: 0.25rem;
  background-color: #FEFFFF;
}

#meme-submit {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4rem;
  color:#FEFFFF;
  background-color: #17252a;
  border-radius: 1rem;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 300ms;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

#meme-submit:hover {
  color:#17252a;
  background-color: #FEFFFF;
}

/* MEME SECTION */

#memes {
  height: 70vh;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 margin: 1rem;
 /* border: 1px red solid; */
}

.meme-div {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  position: relative;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  color: white;
  -webkit-text-stroke: 1.5px black;
  margin: 1rem;
}

.top-text {
  text-align: center;
  font-size: 2rem;
  position: absolute;
  top: 3%;
  width: 100%;
}

.bottom-text {
  text-align: center;
  font-size: 2rem;
  position: absolute;
  bottom: 4%;
  width: 100%;
}

/* the img element */
.meme {
  width: 30rem;
}


@media only screen and (max-width: 900px){

  #title {
    font-size: 3rem;
  }

  .meme {
    width: 20rem;
  }
}



footer {
  background-color: #2b7a78;
  text-align: center;
  padding: 1rem;
  font-weight: 400;
}
